[package]
name = "jagua-rs"
version = "0.1.1"
edition = "2021"
license = "Mozilla Public License 2.0"
repository = "https://github.com/JeroenGar/jagua-rs"
authors = ["Jeroen Gardeyn"]

[dependencies]
ndarray = "0.15.6"
rand = { version = "0.8.5", features = [ "small_rng" ] }
rand_distr = "0.4.3"
num-integer = "0.1.46"
almost = "0.2.0"
ordered-float = "4.2.0"
indexmap = "2.2.3"
serde = { version = "1.0", features = ["derive"] }
log = "0.4"
itertools = "0.12.1"
tribool = "0.3.0"
arr_macro = "0.2.1"
cfg-if = "1.0.0"
rayon = "1.9.0"

[features]
# Switches from f32 to f64 for floating point numbers in the library
double-precision = []