name: Docs

on:
  push:
    branches: [ "main" ]
    paths:
      - '**.rs'
      - '**.toml'
      - '**.yml'

env:
  CARGO_TERM_COLOR: always

jobs:
  rustdoc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Build and deploy jagua-rs docs
        run: |
          cd lbf
          RUSTDOCFLAGS="-D warnings" cargo doc --all
      - name: Deploy docs
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.DOCS_PAT }}
          branch: gh-pages
          folder: lbf/target/doc
          clean: true
          repository-name: JeroenGar/jagua-rs-docs
          commit-message: "auto deploy docs"
          single-commit: true
